* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #F3F5FC;
}

.container-logo {
    margin: 30px 60px;
}

.container-body {
    margin: auto;
    width: 1300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-texto {
    display: flex;
    flex: 4;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}

.container-text-warning {
    margin: 20px 0px;
    width: 600px;
    display: flex;
    align-items: center;
}

.img-warning {
    margin: 0 10px;
}

.container-button {
    margin: 5px;
    width: 600px;
}

.container-salida {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 700px;
    background-color: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;

    overflow: auto;

    /* position: relative; */
}

.container-texto-salida {
    text-align: center;
    width: 400px;
}

.container-button-salida {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

    /* position: absolute; Cambia la posición a absoluta */
    /* bottom: 20px; */
}

.text-area {
    border: none;
    background-color: #F3F5FC;
    max-height: 500px;
    min-height: 500px;
    max-width: 600px;
    min-width: 600px;
    outline: none;

    /*Font*/
    font-size: 25px;
    padding: 10px;
    color: #0A3871;
}

.text-area::placeholder {
    color: #0A3871;
    font-size: 1em;
}

.boton-encriptador {
    margin: 0 0px;
    background-color: #0A3871;
    color: #fff;
    padding: 15px 80px;
    border: 1px solid #0A3871;
    border-radius: 25px;
    cursor: pointer;
    font-size: 15px;
}

.boton-encriptador:hover{
    /* background: linear-gradient(120deg, #0A3871 20%, #0093E9 90%); */
    background-color: #0d4488;
}

.boton-desencriptador {
    margin: 0 10px;
    background-color: #F3F5FC;
    color: #0A3871;
    padding: 15px 80px;
    border: 1px solid #0A3871;
    border-radius: 25px;
    cursor: pointer;
    font-size: 15px;
}

.boton-desencriptador:hover{
    background-color: #dfe6f0;   
}

.img-muneco {
    padding: 20px;
}

.encabezado-salida {
    padding: 15px;
    font-size: 25px;
}

.texto-salida {
    font-size: 18px;
    margin-bottom: 20px;                       
}

.boton-copiar {
    width: 60%;
    margin: 20px 10px;
    background-color: #FFFFFF;
    color: #0A3871;
    padding: 15px 80px;
    border: 1px solid #0A3871;
    border-radius: 25px;
    cursor: pointer;
    font-size: 15px;
}

.boton-copiar:hover {
    background-color: #f7f6f6;
}

.hidden {
    display: none;
}

@media (max-width: 1280px) and (min-width: 768px) {

    header {
        width: 80%;
    }    

    .container-logo {
        margin: 30px 20px;
    }

    .container-body {
        width: 80%;
        flex-direction: column;
    }

    .container-texto {
        align-items: center;
    }

    .container-button {
        display: flex;
        margin-bottom: 40px;
    }

    .boton-encriptador {
        font-size: 1.3em;
        width: 100%;
    }

    .boton-desencriptador {
        font-size: 1.3em;
        width: 100%;
    } 

    .container-salida  {
        width: 80%;
        padding: 20px;
        margin: 30px 0;
        position: static;
    }

    .container-button-salida {
        position: static; /* Cambia la posición a absoluta */
    }

    .img-muneco {
        display: none;
    }

    .container-texto-salida {
        width: 90%;
    }

    .encabezado-salida {
        padding: 20px 0px;
        font-size: 1,5em;
    }
    
    .texto-salida {
        /* text-align: left; */
        margin-bottom: 0 20px;
        font-size: 1,3em;
    }

    .boton-copiar {
        font-size: 1.3em;
        width: 100%;
        height: 56px;
    }

}

@media (max-width: 768px) {

    .container-logo {
        width: 100%;
        margin: 20px 0px;
    }

    .container-body {
        width: 80%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container-texto {
        align-items: center;
        width: 100%;
    }

    .container-button {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 40px;
        width: 100%;
    }

    .container-text-warning {
        margin: 20px 0px;
        width: 100%;
    }

    .boton-encriptador {
        width: 100%;
        margin: 10px;
        padding: 10px 0;
        font-size: 1.1em;
    }

    .boton-desencriptador {
        width: 100%;
        margin: 10px;
        padding: 10px 0;
        font-size: 1.1em;
    } 
    
    .img-muneco {
        display: none;
    }

    .text-area {
        max-height: 400px;
        min-height: 400px;
        max-width: 100%;
        min-width: 100%;
    
        /*Font*/
        font-size: 20px;
    }

    .text-warning {
        font-size: 0.95em;
    }

    .container-salida  {
        width: 100%;
        height: 700px;
        padding: 0px;
        margin: 30px 0;
        position: static;
    }

    .container-texto-salida {
        width: 80%;
        /* height: 200px; */
        padding: 40px 0;
    }

    .encabezado-salida {
        padding: 15px 0;
        font-size: 20px;
    }
    
    .texto-salida {
        font-size: 15px;
        margin: 0px;                       
    }
    
    .boton-copiar {
        width: 70%;
        background-color: #FFFFFF;
        color: #0A3871;
        margin: 20px 10px;
        padding: 10px 0;
        border: 1px solid #0A3871;
        border-radius: 25px;
        cursor: pointer;
        font-size: 15px;
    }

    .container-button-salida {
        width: 100%;
    }
}